.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pptx
docs/data/
materials/99-extras/dog_activations
materials/99-extras/dog_heatmap.png
materials/99-extras/dog_overlay.png
materials/99-extras/vgg_filters
materials/data/
materials/99-extras/runs
materials/99-extras/amazon_runs
materials/99-extras/imdb_runs
materials/99-extras/gradient_descent.xlsx
tokenizer-question-pairs
model-question-pairs.hdf5